<!DOCTYPE html>
<html lang="en">

<head>
  <title>Users</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <!-- Fonts and Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- stylesheets -->
  <link rel='stylesheet' type='text/css' media='screen' href='styles/main.css'>
  <link rel='stylesheet' type='text/css' media='screen' href='styles/index.css'>
  <link rel='stylesheet' type='text/css' media='screen' href='styles/nav.css'>
  <link rel='stylesheet' type='text/css' media='screen' href='styles/shopping_list.css'>

  <!-- scripts -->
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="/scripts/app.js"></script>

  <script src="https://cdn.tailwindcss.com"></script>
<script>
  tailwind.config = {
    theme: {
      extend: {
        fontFamily: {
          sans: ['Inter', 'sans-serif'],
        },

      colors: {
        transparent: 'transparent',
        current: 'currentColor',
        'white': '#ffffff',
        'fruitBlue': '#d5e3f9',
        'fruitBlueDark':'#B2D1FF',
        'fruitYellow':'#FFF48D',
        'fruitPink': '#DB6868',
        'fruitPinkDark':'#7E2F2',
        'fruitBrown': '#613206'
    },
      }
    }
  }
</script>
</head>

<body>
  <main>
    <div class="mainContainer">
      <div class="shoppingCartHeader">
        <p class="text-left font-semibold mx-4 mb-0 text-header-big">Shopping Cart</p>

        <button class="removeAll cart_removeall_btn cart_minus" data-id="minus">Remove all</button>
      </div>

      <section class="shoppingCartSection">
        <div class="shoppingCartContainer">
        <% for (let fruit of fruits) { %>
            <div class="cartItem">
              <!-- <div class="buttonContainer">
                <i class="fa-solid fa-circle-info"></i>
                <i class="fa-solid fa-heart-circle-plus"></i>
              </div> -->
              <div class="productImage">
                <img id="fruitImage" class="cart-image h-48 w-full object-cover" src="<%= fruit.fruit_picture_url %>" alt="fruits" >
              </div>
              <h3 class="productName"><%= fruit.fruit_name %></h3>
              <div class="priceContainer">
                <p class="price">$<%= fruit.price %></p>
              </div>
              <!-- <button class="add_to_cart cart_btn cart_plus" data-id="plus" data-fruitId="<%= fruit.id %>">Add to cart</button> -->

              <button class="cart_remove_btn removeItem cart_minus" data-id="minus" data-fruitId="<%= fruit.fruit_id %>">Remove</button>
            </div>
          <% } %>
        </div>
      </section>
    </div>
  </main>

</body>

</html>
